

div{
    text-align: center;
    alignment: center;
}

ul {
    text-align: center;
    list-style-position: inside;
}
#selfimage{
    height: 100px;
}

#arrows{
    height: 50px;
}

span{
    vertical-align: middle;
}
.header{
    background-color: #c690ff;
    width: 100%;
}
.infocontainer{
    width: 100%;
    padding: 20px;
}
.generalinfotable{
    font-size: large;
}

.makecenter {
    text-align: center;
}
.colgeninfo{
    display:inline-block;
    width:50%;
}