
#selfimage{
    height: 200px;
}

#arrow1{
    height: 50px;
}
#arrow2{
    height: 50px;
}


.header{
    padding: 10px ;
    background-color: #646097;
    margin: fill;
}
.makecenter {
    text-align: center;
}
.container{
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto auto auto auto auto;
    align-content: center;
    gap: 10px;
    background-color: #1e4e7a;
    padding: 10px;
}
.item1{
    grid-column: 1/2;
    background-color: #97ceff;
    align-content: center;
    display: flex;
}
.item2{
    grid-column: 3/4;
    background-color: #8cbbff;
    align-content: center;
    display: flex;
}

.item3{
    grid-column: 5/6;
    background-color: #9aa5ff;
    align-content: center;
    text-align: center;
    display: flex;
}
#emotionpic{
    height: 100px;
}
/*
.infocontainer{
    width: 100%;
    padding: 20px;
}
.generalinfotable{
    font-size: large;
}


.lcolgeninfo{
    float: left;
    width: 20%;

}

.mcolgeninfo{
    width: 20%;

}
.rcolgeninfo{
    float: right;
    width: 20%;

}
.inforow{
    display: block;
    width: 100%;
}

ul{
    display: inline;
}
.gridtable{
    display: inline-block;
    width: 100%;
}
 */