
#selfimage{
    height: 200px;
}

#arrows{
    height: 50px;
}


.header{
    padding: 10px ;
    background-color: #c690ff;
    margin: fill;
}
.infocontainer{
    width: 100%;
    padding: 20px;
}
.generalinfotable{
    font-size: large;
}

.makecenter {
    text-align: center;
}
.lcolgeninfo{
    float: left;
    width: 20%;

}

.mcolgeninfo{
    width: 20%;

}
.rcolgeninfo{
    float: right;
    width: 20%;

}
.inforow{
    display: block;
    width: 100%;
}

ul{
    display: inline;
}
.gridtable{
    display: inline-block;
    width: 100%;
}